/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-image:url('../assets/background.JPG');
  background-attachment:fixed;
}
.navbar-fixed-top {
    background-color: #559F00;
}
.navbar-brand {
   color: #000;
}
.blank {
   height:75px;
}
